@model Proyecto_web_MVC_1P.Models.Proyecto_web_MVC_1P.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="form-box register">
        <form asp-action="Create">
            <h1>Registro</h1>
            <div class="input-box">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" type="password" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" maxlength="10" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
                <i class=’bx bxs-phone'></i>
            </div>

            <button type="submit" class="btn" value="Create"> </button>
            <p>O registrate con otra plataforma</p>
            <div class="social-icons">
                <i class='bx bxl-google'></i>
                <i class='bx bxl-facebook'></i>
                <i class='bx bxl-github'></i>
                <i class='bx bxl-linkedin'></i>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
}
